h1 {
    font-size: 5em;
    color:#A5A58D
}

#profile_pic {
    height: 400px;
}

body {
    background-color: #FFF1E6;
    color:#DDBEA9;
}
ul {
    color:#B7B7A4
}
a {
    color:#CB997E;
    text-decoration: none;
}

.social-icon {
    height: 50px;
}
p {
    font-weight: bold;
}