:root {
    --lightest-green: #F7F7F2;
    --lighter-green: #E4E6C3;
    --green: #899878;
    --grey: #222725;
    --black: #121113;
}
h1 {

    padding: 25px;
    font-size: 5em;
    color:var(--green);
}

#profile_pic {
    height: 400px;
}

body {
    background: var(--bg);
    color: var(--fontColor);
    text-align: center;
}

ul {
    color:var(--listColor);
    display: inline-block;
    text-align: left;
    padding-left: 0%;
}
a {
    color:#CB997E;
    text-decoration: none;
}

.social-icon {
    height: 50px;
}
p {
    font-weight: bold;
}

.light-theme {
    --bg: var(--lightest-green);
    --fontColor: var(--grey);
    --btnFontColor: var(--lighter-green);
    --btnBg: var(--green);
    --listColor: var(--black);
}

.dark-theme {
    --bg: var(--grey);
    --fontColor: var(--lightest-green);
    --btnFontColor: var(--green);
    --btnBg: var(--lighter-green);
    --listColor: var(--lighter-green);
}
.color-btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none; 
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}